%p#notice= notice

%p
  %b Date:
  = @note.date
%p
  %b Content:
  = @note.content
%p
  %b User:
  = @note.user

= link_to 'Edit', edit_user_note_path(@user, @note)
\|
= link_to 'Back', user_notes_path(@user)
