%h1= @date.strftime("%Y-%m-%d")
- @users.each do |user|
  .note
    .note-name
      %h2= user.name
      - note = user.notes.with_date(@date).first
      - if note
        = link_to fa_icon('edit', text: '編集'), edit_note_path(note)
      - else
        = link_to fa_icon('edit', text: '編集'), new_note_path
    .note-author
      - if note
        = simple_format note.content
