.report_title
  %p.report_title_item= link_to '<<' ,root_path(date: @date.yesterday.strftime("%Y-%m-%d"))
  %h1.report_title_item= @date.strftime("%Y-%m-%d")
  %p.report_title_item= link_to '>>' ,root_path(date: @date.tomorrow.strftime("%Y-%m-%d"))

=link_to "メール送信用フォーマット", reports_path(:format => :text, date: @date)
- @users.each do |user|
  .note
    .note-name
      %h2= user.name
      - note = user.notes.with_date(@date).first
      = link_to fa_icon('edit', text: '編集'), note ? edit_user_note_path(user, note) : new_user_note_path(user, date: @date.strftime("%Y-%m-%d"))
    .note-author
      - if note
        = simple_format note.content
